node_modules
.env
.env.local
*.log
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
unpackage/
packages/*/dist
apps/gateway/dist
apps/game-*/dist
apps/client/dist/dev
apps/client/dist/build/mp-weixin
